{% extends "base.html" %}
{% block content %}
<script src="../static/js/index.js"></script>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="width:70%;margin:0px auto;">
	      <ul class="nav navbar-nav">
	      	{% if flag == "point_rank" %}
	        <li><a id="chosed" href="{{ url_for('index') }}">评分排名</a></li>
	        {% else %}
	        <li class=""><a id="unchosed" class="unchosedfont" href="{{ url_for('index') }}">评分排名</a></li>
	        {% endif %}
	        {% if flag == "point_cost" %}
	        <li><a id="chosed" href="{{ url_for('point_cost') }}">性价排名</a></li>
	        {% else %}
	        <li class=""><a id="unchosed" class="unchosedfont" href="{{ url_for('point_cost') }}">性价排名</a></li>
	        {% endif %}
	        {% if flag == "point_time" %}
	        <li><a id="chosed" href="{{ url_for('point_time') }}">效率排名</a></li>
	        {% else %}
	        <li class=""><a id="unchosed" class="unchosedfont" href="{{ url_for('point_time') }}">效率排名</a></li>
	        {% endif %}
	        {% if flag == "point_forecast" %}
	        <li><a id="chosed" href="{{ url_for('point_forecast') }}">评分预测</a></li>
	        {% else %}
	        <li class=""><a id="unchosed" class="unchosedfont" href="{{ url_for('point_forecast') }}">评分预测</a></li>
	        {% endif %}
	        {% if flag == "suggest" %}
	        <li><a id="chosed" href="{{ url_for('suggest') }}">留言建议</a></li>
	        {% else %}
	        <li class=""><a id="unchosed" class="unchosedfont" href="{{ url_for('suggest') }}">留言建议</a></li>
	        {% endif %}	  
	      </ul>
	      <p class="navbar-text navbar-right" id="time"></p>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	{% if flag == "point_rank" %}  
	<div class="alert alert-info" role="alert" style="width:67%;margin:0px auto;font-size:12px;">
	注：最近一次比赛日中球员的范特西评分排名。范特西评分=得分+助攻*1.5+前场篮板+防守篮板*0.7+抢断*2+封盖*1.8+投篮命中数*0.4+三分命中数*0.5-失误-投篮投失数。
	</div>
	{% endif %}
	{% if flag == "point_cost" %}  
	<div class="alert alert-info" role="alert" style="width:67%;margin:0px auto;font-size:12px;">
	注：最近两周球员范特西评分的平均值与身价的比。性价 = 最近两周范特西评分均值 / 身价。
	</div>
	{% endif %}
	{% if flag == "point_time" %}  
	<div class="alert alert-info" role="alert" style="width:67%;margin:0px auto;font-size:12px;">
	注：最近两周球员范特西评分的总值与总上场时间的比。效率 = 最近两周范特西评分总值 / 总上场时间。
	</div>
	{% endif %}
	{% if flag == "point_forecast" %}  
	<div class="alert alert-info" role="alert" style="width:67%;margin:0px auto;font-size:12px;">
	注：根据球员最近两周比赛的出场时间和范特西评分，利用线性回归分析，预测球员在下一场比赛的出场时间，再根据效率值进而预测范特西评分。
	</div>
	{% endif %}
	<br>
	
		{% if flag == "point_rank" %}  
	    <table class="table table-hover table-bordered" id="table">
	    	<tr id='tbhead'>
	    		<td><b>排名</b></td>
	    		<td><b>球员</b></td>
	    		<td><b>评分</b></td>
	    		<td><b>球队</b></td>
	    		<td>
	    			<li class="dropdown">
	    				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>位置</b><span class="caret"></span></a>
	    		          <ul class="dropdown-menu">
				            <li><a class="roleselector" href="#" _value="PG">控球后卫 - PG</a></li>
				            <li><a class="roleselector" href="#" _value="SG">得分后卫 - SG</a></li>
				            <li><a class="roleselector" href="#" _value="SF">小前锋 - SF</a></li>
				            <li><a class="roleselector" href="#" _value="PF">大前锋 - PF</a></li>
				            <li><a class="roleselector" href="#" _value="C">中锋 - C</a></li>
				            <li><a class="roleselector" href="#" _value="ALL">显示所有</a></li>
				          </ul>
	    			</li>
	    		</td>
	    		<td><b>日期</b></td>
	    	</tr>
	    	{% for p in post %}
	    	<tr>
	    		<td id="rank">{{ post.index(p) + 1 }}</td>
	    		<td>{{ p.name }}</td>
	    		<td>{{ p.fantasypoint }}</td>
	    		<td>{{ p.team }}</td>
	    		<td id="role">{{ p.role }}</td>
	    		<td>{{ p.date }}</td>
	    	</tr>
	    	{% endfor %}
	    </table>
		{% endif %}
		
		{% if flag == "point_cost" %}  
	    <table class="table table-hover table-bordered" id="table">
	    	<tr id='tbhead'>
	    		<td><b>排名</b></td>
	    		<td><b>球员</b></td>
	    		<td><b>性价</b></td>
	    		<td><b>身价</b></td>
	    		<td><b>球队</b></td>
	    		<td>
	    			<li class="dropdown">
	    				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>位置</b><span class="caret"></span></a>
	    		          <ul class="dropdown-menu">
				            <li><a class="roleselector" href="#" _value="PG">控球后卫 - PG</a></li>
				            <li><a class="roleselector" href="#" _value="SG">得分后卫 - SG</a></li>
				            <li><a class="roleselector" href="#" _value="SF">小前锋 - SF</a></li>
				            <li><a class="roleselector" href="#" _value="PF">大前锋 - PF</a></li>
				            <li><a class="roleselector" href="#" _value="C">中锋 - C</a></li>
				            <li><a class="roleselector" href="#" _value="ALL">显示所有</a></li>
				          </ul>
	    			</li>
	    		</td>
	    	</tr>
	    	{% for p in post %}
	    	<tr>
	    		<td id="rank">{{ post.index(p) + 1 }}</td>
	    		<td>{{ p.name }}</td>
	    		<td>{{ p.point_cost }}</td>
	    		<td>{{ p.cost }}</td>
	    		<td>{{ p.team }}</td>
	    		<td id="role">{{ p.role }}</td>
	    	</tr>
	    	{% endfor %}
	    </table>
		{% endif %}
		
		{% if flag == "point_time" %}  
	    <table class="table table-hover table-bordered" id="table">
	    	<tr id='tbhead'>
	    		<td><b>排名</b></td>
	    		<td><b>球员</b></td>
	    		<td><b>效率</b></td>
	    		<td><b>身价</b></td>
	    		<td><b>球队</b></td>
	    		<td>
	    			<li class="dropdown">
	    				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>位置</b><span class="caret"></span></a>
	    		          <ul class="dropdown-menu">
				            <li><a class="roleselector" href="#" _value="PG">控球后卫 - PG</a></li>
				            <li><a class="roleselector" href="#" _value="SG">得分后卫 - SG</a></li>
				            <li><a class="roleselector" href="#" _value="SF">小前锋 - SF</a></li>
				            <li><a class="roleselector" href="#" _value="PF">大前锋 - PF</a></li>
				            <li><a class="roleselector" href="#" _value="C">中锋 - C</a></li>
				            <li><a class="roleselector" href="#" _value="ALL">显示所有</a></li>
				          </ul>
	    			</li>
	    		</td>
	    	</tr>
	    	{% for p in post %}
	    	<tr>
	    		<td id="rank">{{ post.index(p) + 1 }}</td>
	    		<td>{{ p.name }}</td>
	    		<td>{{ p.point_time }}</td>
	    		<td>{{ p.cost }}</td>
	    		<td>{{ p.team }}</td>
	    		<td id="role">{{ p.role }}</td>
	    	</tr>
	    	{% endfor %}
	    </table>
		{% endif %}
		
		{% if flag == "point_forecast" %}  
	    <table class="table table-hover table-bordered" id="table">
	    	<tr id='tbhead'>
	    		<td><b>排名</b></td>
	    		<td><b>球员</b></td>
	    		<td><b>评分</b></td>
	    		<td><b>出场时间</b></td>
	    		<td><b>球队</b></td>
	    		<td>
	    			<li class="dropdown">
	    				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>位置</b><span class="caret"></span></a>
	    		          <ul class="dropdown-menu">
				            <li><a class="roleselector" href="#" _value="PG">控球后卫 - PG</a></li>
				            <li><a class="roleselector" href="#" _value="SG">得分后卫 - SG</a></li>
				            <li><a class="roleselector" href="#" _value="SF">小前锋 - SF</a></li>
				            <li><a class="roleselector" href="#" _value="PF">大前锋 - PF</a></li>
				            <li><a class="roleselector" href="#" _value="C">中锋 - C</a></li>
				            <li><a class="roleselector" href="#" _value="ALL">显示所有</a></li>
				          </ul>
	    			</li>
	    		</td>
	    	</tr>
	    	{% for p in post %}
	    	<tr>
	    		<td id="rank">{{ post.index(p) + 1 }}</td>
	    		<td>{{ p.name }}</td>
	    		<td>{{ p.fantasypoint}}</td>
	    		<td>{{ p.playtime }}</td>
	    		<td>{{ p.team }}</td>
	    		<td id="role">{{ p.role }}</td>
	    	</tr>
	    	{% endfor %}
	    </table>
		{% endif %}		
		
		{% if flag == "suggest" %} 
		<br>
    	{% if randomCode=="0" %}
		<div class="alert alert-danger" role="alert" style="font-size:12px;width:50%;margin:0px auto;">提示：您输入的验证码有误，请重新输入！</div><br>
    	{% elif randomCode=="1" %}
		<div class="alert alert-success" role="alert" style="width:50%;margin:0px auto;">提示：邮件已发送，感谢您的建议！</div><br> 
		{% else %}
		<div class="alert alert-success" role="alert" style="width:50%;margin:0px auto;visibility:hidden;"></div><br> 	
		{% endif %}
		<form action="{{ url_for('sendmail') }}" method="post">
  			<div class="form-group">
    			<label for="exampleInputEmail1">Email</label>
    			<input type="email" class="form-control suggest" id="exampleInputEmail1" placeholder="Email" name="email">
  			</div>
  			<div class="form-group">
    			<label for="exampleInputPassword1">留言建议（将会以邮件的形式发送）</label>
    			<textarea class="form-control suggest" rows="5" name="suggestion" id="suggestion"></textarea>
    			<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    			<img id="randomCodeImg" src="{{ url_for('getrandomcode', salt='0') }}">
  				<input type="text" class="form-control" name="randomCode" maxLength=4 placeholder="验证码" style="width:10%;float:left;">
  				<button type="submit" class="btn btn-default" id="submit" style="float:right;">Submit</button>
  			</div>
		</form>
		{% endif %}
	<br>
	<footer class="footer">
      <div class="container">
        <p class="text-muted" id="footertext">
        	Copyright © 2017 WWW.SUNSIQUAN.TOP All Rights Reserved 闽ICP备17002859号
        </p>
      </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
</body>
{% endblock %}
