.navbar {
	background: black;
}
.active {
	background-color: white;
}
#unchosed {
	color: grey;
}
#time {
	color: white;
}
#chosed {
	color: white;
}
table {
	background: #eeeeee;
}
.footer {
	background: black;
}
#footertext {
	color: white;
}