.navbar {
	background: black;
}
.active {
	background-color: white;
}
#unchosed {
	color: grey;
}
#time {
	color: white;
}
#chosed {
	color: white;
}
#table {
	background: #eeeeee;
	width: 67%;
	margin: 0px auto;
	font-size: 12px;
}
#table td{
	width: 10%;
}
.footer {
	background: black;
}
#footertext {
	color: white;
}